<section style="background: url('/assets/images/bg-account.jpg'); background-size: cover;">
    <div class="container" style="height: 100vh;">
        <div class="row justify-content-center align-items-center h-100">

            <div class="col-lg-5">
                <div class="bg-warning p-4" style="border-radius: .6rem">

                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="/assets/images/Devices-Logo.svg" alt="Devices logo" style="max-width: 300px; width: 100%;">
                        </div>
                    </div>



                    <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm" class="row">

                        <div class="col-12">
                            <h4>Register</h4>
                            <hr>

                            <div class="alert alert-danger" *ngIf="errors.length > 0">
                                <h3 id="msgRetorno">Oops! Something went wrong:</h3>
                                <ul>
                                    <li *ngFor="let error of errors">{{ error }}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label class="control-label">Email *</label>
                                <input class="form-control" id="email" type="text" formControlName="email" placeholder="Email *" [ngClass]="{'is-invalid': displayMessage?.['email'] }" />
                                <span class="text-danger" *ngIf="displayMessage?.['email']">
                                    <p [innerHTML]="displayMessage?.['email']"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label class="control-label">Password *</label>
                                <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password *" [ngClass]="{'is-invalid': displayMessage?.['password'] }" />
                                <span class="text-danger" *ngIf="displayMessage?.['password']">
                                    <p [innerHTML]="displayMessage?.['password']"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label class="control-label">Confirm Password *</label>
                                <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password *" [ngClass]="{'is-invalid': displayMessage?.['confirmPassword'] }" />
                                <span class="text-danger" *ngIf="displayMessage?.['confirmPassword']">
                                    <p [innerHTML]="displayMessage?.['confirmPassword']"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-6 mb-2">
                            <div class="form-group text-start">
                                <a href="/account/login" class="btn btn-outline-dark" id="Login">Login</a>
                            </div>
                        </div>

                        <div class="col-6 mb-2">
                            <div class="form-group text-end">
                                <button class="btn btn-dark" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Sign up</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</section>