<div class="row align-items-center">
    <div class="col-lg-12">
        <div class="card mb-3 border-0 bg-warning">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="fw-bold mb-0 fs-4 lh-1 text-center text-lg-start">
                            See all devices
                        </p>
                        <p class="mb-lg-0 text-center text-lg-start">
                            You can manage all your devices here!
                        </p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end">
                        <button type="button" class="btn btn-outline-dark" [routerLink]="'/my-devices'">
                            Go to my devices
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>