<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="card mb-3 border-warning">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4 col-lg-2">
                            <i class="fa-solid fa-computer fa-3x"></i>
                        </div>
                        <div class="col-8 col-lg-10">
                            <p class="fw-bold mb-0 text-end">Total devices</p>
                            <p class="fw-bold mb-0 text-end fs-1 lh-1">10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-3 border-warning">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4 col-lg-2">
                            <i class="fa-solid fa-chart-line fa-3x"></i>
                        </div>
                        <div class="col-8 col-lg-10">
                            <p class="fw-bold mb-0 text-end">Total Usage</p>
                            <p class="fw-bold mb-0 text-end fs-1 lh-1">10 Gb</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-3 border-warning">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4 col-lg-2">
                            <i class="fa-solid fa-house-laptop fa-3x"></i>
                        </div>
                        <div class="col-8 col-lg-10">
                            <p class="fw-bold mb-0 text-end">Available devices</p>
                            <p class="fw-bold mb-0 text-end fs-1 lh-1">10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-12">
            <div class="card mb-3 border-0 bg-warning">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <p class="fw-bold mb-0 fs-4 lh-1 text-center text-lg-start">
                                See all devices
                            </p>
                            <p class="mb-lg-0 text-center text-lg-start">
                                You can manage all your devices here!
                            </p>
                        </div>
                        <div class="col-lg-4 text-center text-lg-end">
                            <button type="button" class="btn btn-outline-dark">
                                Go to my devices
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Last devices
                </div>
                <div class="card-body">
                    <div class="container-fluid">

                        <div class="row align-items-center border-bottom py-2">
                            <div class="col-auto">
                                <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
                            </div>
                            <div class="col-lg">
                                Work smartphone
                                <p class="mb-0 text-success">
                                    <i class="fa-solid fa-check"></i> Available
                                </p>
                            </div>
                            <div class="col-lg-2 text-lg-end">
                                <button type="button" class="btn btn-outline-dark">
                                    Details
                                </button>
                            </div>
                        </div>

                        <div class="row align-items-center border-bottom py-2">
                            <div class="col-auto">
                                <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
                            </div>
                            <div class="col-lg">
                                Work smartphone
                                <p class="mb-0 text-success">
                                    <i class="fa-solid fa-check"></i> Available
                                </p>
                            </div>
                            <div class="col-lg-2 text-lg-end">
                                <button type="button" class="btn btn-outline-dark">
                                    Details
                                </button>
                            </div>
                        </div>

                        <div class="row align-items-center py-2">
                            <div class="col-auto">
                                <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
                            </div>
                            <div class="col-lg">
                                Work smartphone
                                <p class="mb-0 text-success">
                                    <i class="fa-solid fa-check"></i> Available
                                </p>
                            </div>
                            <div class="col-lg-2 text-lg-end">
                                <button type="button" class="btn btn-outline-dark">
                                    Details
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Offline Devices
                </div>
                <div class="card-body">
                    <div class="container-fluid">

                        <div class="row align-items-center py-2">
                            <div class="col-auto">
                                <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
                            </div>
                            <div class="col-lg">
                                Work smartphone
                                <p class="mb-0 text-danger">
                                    <i class="fa-solid fa-circle-xmark"></i> Offline
                                </p>
                            </div>
                            <div class="col-lg-2 text-lg-end">
                                <button type="button" class="btn btn-outline-dark">
                                    Details
                                </button>
                            </div>
                        </div>

                        <!-- <div class="row align-items-center py-2">
                            <div class="col-12">
                                <p class="text-success text-center fs-3 mb-0">
                                    All devices are available!
                                </p>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>